* {
	margin: 0;
	padding: 0;
}

.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.app-header {
	flex: 0 0 100px;
	background-color: #079992;
	color: white;
	padding: 16px;
}

.header-title {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-size: 22px;
	font-weight: bold;
}

.main {
	flex: 1 0 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #f1f2f6;
	padding: 32px;
}

.doc-infos {
	width: 50%;
}

.doc-upload {
	width: 100%;
	margin-top: 32px;
}
